<footer class="footer text-center text-lg-start">
    <div class="text-white text-center p-3" >
      © <%=Time.now.strftime('%Y')%> MIT Licensed:
      <p><a class="text-white" href="https://github.com/okorkov/game-stack" target="_blank">Game Stack</a> - by Alex Okarkau</p>
    </div>
  </footer>