<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4" id='logo'>Game Stack</h1>
    <div class="pos-f-t">
  <div class="collapse" id="navbarToggleExternalContent">
    <div class="bg-dark p-4">
      <div class="row justify-content-around">
        <button class="col-3 text-center btn btn-outline-warning" id="trivia">Trivia</button>
        <button class="col-3 text-center btn btn-outline-warning" id="flappy-dot">Flappy Dot</button>
        <button class="col-3 text-center btn btn-outline-info" id="flappy-dot">* See All Scores *</button>
      </div>
    </div>
  </div>
  <nav class="navbar navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </nav>
</div>
  </div>
</div>